:root {
  --shiki-color-text: theme(textColor.foreground);
  --shiki-color-background: theme(backgroundColor.background);
  --shiki-token-constant: theme(textColor.foreground);
  --shiki-token-string: theme(textColor.foreground);
  --shiki-token-comment: theme(textColor.muted.foreground);
  --shiki-token-keyword: theme(textColor.foreground);
  --shiki-token-parameter: theme(textColor.foreground);
  --shiki-token-function: theme(textColor.foreground);
  --shiki-token-string-expression: theme(textColor.foreground);
  --shiki-token-punctuation: theme(textColor.foreground);
  --shiki-token-link: theme(textColor.foreground);
}

[data-rehype-pretty-code-fragment] {
  @apply relative;

  & code {
    @apply grid min-w-full break-words rounded-none border-0 bg-transparent !p-0;
    counter-reset: line;
    box-decoration-break: clone;
  }

  & [data-line] {
    @apply px-4 min-h-[1rem] py-0.5;
  }

  & [data-line-numbers] [data-line] {
    @apply px-2;

    &::before {
      @apply text-foreground/30 text-xs;
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      width: 1.8rem;
      margin-right: 1.4rem;
      text-align: right;
    }
  }

  & [data-highlighted-line] {
    @apply bg-muted;

    & span {
      @apply relative;
    }
  }

  & [data-highlighted-chars] {
    @apply rounded-md bg-muted p-1;
  }

  & [data-rehype-pretty-code-title] {
    @apply mt-2 pt-6 px-4 text-sm font-medium;

    & + pre {
      @apply mt-2;
    }
  }
}

.mdx > .steps:first-child > h3:first-child {
  @apply mt-0;
}
